import { {{elementName}} } from '{{packageName}}';
import ReactDOM from 'react-dom';
import React from 'react';

export function show() {
  ReactDOM.render(<{{elementName}} />, document.getElementById('content'));
}
